<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field>
      <input matInput type="email" formControlName="email"
      pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
        placeholder="email">
    </mat-form-field>
  </div>

  <button mat-raised-button type="submit" [disabled]="!resetForm.valid">
    Send
  </button>
  <p>Form: {{resetForm.value | json}}</p>
  <p>Form: {{resetForm.status}}</p>
  <p>Form: {{resetForm.valid}}</p>
  <h4>code: {{errorCode}}</h4>
  <h4>msg: {{errorMsg}}</h4>
</form>
